# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

cmd/gumd/routers/commentsRouter_github_com_funkygao_gum_cmd_gumd_controllers.go
cmd/gumd/gumd
cmd/gumd/lastupdate.tmp
